<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        h3 {
            text-align: center;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<h3>Blog List</h3>
<div style="text-align: center">
    <a th:href="@{/blog/create}">
        <button type="submit" class="btn btn-primary">Add New Blog</button>
    </a>
</div>
<br>
<!--<div style="text-align: center">-->
<!--    <form action="/blog">-->
<!--        <input type="text" name="searchName" placeholder="Search Name">-->
<!--        <button type="submit" class="btn btn-primary">Search</button>-->
<!--    </form>-->
<!--</div>-->
<div style="position: absolute;right: 8rem">
    <form class="row g-3" action="/blog">
        <div class="col-auto">
            <label for="searchName" class="visually-hidden">Search Name</label>
            <input type="text" class="form-control" id="searchName" name="searchName" placeholder="Search Name">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Search</button>
        </div>
    </form>
</div>
<br>
<div class="container mt-5">
    <table class="table table-row-cell table-earning" border="1px">
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Title</th>
            <th>Content</th>
            <th>Date</th>
            <th>Author</th>
            <th>Delete</th>
            <th>Update</th>
            <th>Detail</th>
        </tr>
        <tr th:each="blog,status:${blogPage}">
            <td th:text="${status.count}"></td>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.date}"></td>
            <td th:text="${blog.content}"></td>
            <td>
                <!--                <button type="submit" class="btn btn-danger">Delete</button>-->
                <button type="button" data-bs-toggle="modal" class="btn btn-outline-danger"
                        data-bs-target="#delete" th:attr="onclick= |deleteBlog('${blog.id}','${blog.name}')|">Delete
                </button>
            </td>
            <td>
                <a th:href="@{/blog/showFormUpdate/__${blog.id}__}">
                    <button type="submit" class="btn btn-primary">Update</button>
                </a>
            </td>
            <td>
                <a th:href="@{/blog/view/__${blog.id}__}">
                    <button type="submit" class="btn btn-success">Show Detail</button>
                </a>
            </td>
        </tr>
    </table>
</div>
<div style="position: absolute;right: 8rem">
    <a th:href="@{/category}">
        <button type="submit" class="btn btn-primary">Back to Category</button>
    </a>
</div>
<a th:if="${blogPage.hasPrevious()}" th:href="@{/blog(page=${blogPage.number - 1},searchName=${searchName})}">Previous</a>
<span th:text="${blogPage.number+1}"></span>/<span th:text="${blogPage.totalPages}"></span>
<a th:if="${blogPage.hasNext()}" th:href="@{/blog(page=${blogPage.number + 1},searchName=${searchName})}">Next</a>
<div class="modal" tabindex="-1" id="delete" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/blog/delete" method="post">
                <div class="modal-header" style="background-color: #dc3545">
                    <h5 class="modal-title" style="color: aliceblue">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="id" name="id">
                    You want to delete "<span id="name"></span>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Sure</button>
                </div>
            </form>
        </div>
    </div>
</div>
<p th:if="${mess}" th:text="${mess}"></p>
<script>
    function deleteBlog(id, name) {
        document.getElementById("id").value = id;
        document.getElementById("name").innerText = name;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>