<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Add Product</h3>
<form th:object="${product}" action="/product/create" method="post">
    ID Product
    <label>
        <input th:field="*{id}">
    </label><br>
    Name Product
    <label>
        <input th:field="*{name}">
    </label><br>
    Price Product
    <label>
        <input th:field="*{price}">
    </label><br>
    Brand Product
    <label>
        <input th:field="*{brand}">
    </label><br>
    Detail Product
    <label>
        <input th:field="*{detail}">
    </label><br>
    <button>Save Info</button>
    <a href="/product">
        <button type="button">Back To List</button>
    </a>
</form>
<p th:if="${mess}" th:text="${mess}"></p>

</body>
</html>