<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
  <tr>
    <th>STT</th>
    <th>Name</th>
    <th>Price</th>
    <th>Brand</th>
    <th>Detail</th>
  </tr>
    <tr th:each="product,status:${showList}">
        <td th:text="${status.count}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.brand}"></td>
        <td th:text="${product.detail}"></td>
    </tr>
</table>
</body>
</html>